{% extends 'layouts/home.html' %}

{% block content %}
{% if user.is_authenticated %}
<hr>
 <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Sorgu Görüntüle
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <pre id="json"></pre>
                  </div>
                </div>
              </div>
            </div>
    <hr>
    <h4>Cem Yılmazın Filmleri ve En çok rol almış oyuncular</h4>
    <hr>
        <div class="col-md-12">
            <div class="row">
            {% for key in Value %}
                        <div class="col-md-4">
                            <div class="movie_card" >
                                <img class="locandina"  style="width: 50%;height: 50%;margin-left: 20%;" src="https://m.media-amazon.com/images/M/MV5BMjlmNzdjZWYtODVlMi00NTMwLWI2OTEtNDk4ZDEwNjZmM2I2XkEyXkFqcGdeQXVyMjkzMDcwMjU@._V1_.jpg"/>
                                {% for k,v in key.items %}
                                  <div class="info_section">
                                    <div class="movie_header">
                                        {% if k == "~director.film" %}
                                            {% for z in v %}
                                                {% for m,n in z.items %}
                                                    {% if m == "name@en" %}
                                                        <h4>{{ n }}</h4>
                                                    {% endif %}
                                                    {% for c in n %}
                                                        {% for p,o in c.items %}

                                                            {% if p == "performance.actor" %}
                                                                {% for u in o %}
                                                                    {% for t,y in u.items %}
                                                                        {% if t == "name@en" %}
                                                                             <td><pre id="actors">{{ y }}</pre> </td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            {% elif p == "performance.character" %}
                                                               {% for u in o %}
                                                                    {% for t,y in u.items %}
                                                                        {% if t == "name@en" %}
                                                                            (<td>{{ y }}</td>) <br>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            {% endif %}
                                                            </table>
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                  </div>
                            {% endfor %}
                            </div>
                        </div>
                 {% endfor %}
            </div>
        </div>

{% else %}
<div class="authenticateDiv">
    <p class="text-center">Please Login</p>
    <div class = "btn-default">
        <a href="/login/auth0" class="btn btn-lg btn-block btn-dark">Login</a>
    </div>
</div>

{% endif %}
{% endblock content %}

{% block script %}
    var data = `{{Query}}`
    document.getElementById("json").innerHTML = data


{% endblock script%}
